<div>
    <div *ngIf="cartItems.length >= 1; else elseBlock">
        <div class="total">
            <h3>cart-total : {{cartTotal}}/-</h3>
        </div>
        <div class="products" *ngFor="let product of cartItems">
            <div>
                <img width="60px" height="40px" [src]="product.image_url">
                <h4>{{product.name}} - {{product.modal}}</h4>
                <p>{{product.descripton}}</p>
                <p>{{product.cost}}</p>
            </div>
            <div>
                <button class="btn" (click)="remove(product)">remove</button>
                <br><br>
                <button class="btn" (click)="removeQuantity(product)">-</button>
                <button class="btn">{{product.quantity}}</button>
                <button class="btn" (click)="addQuantity(product)">+</button>

            </div>
        </div>

    </div>
    <ng-template #elseBlock>
        <div class="msg">
            <h3>
                no items are selected
            </h3>
        </div>
    </ng-template>
</div>